.register-container {
  min-height: 140vh;
  width: auto;
  position: relative;
  background-color: #2ecc71;
  background-image: url('https://images.unsplash.com/photo-1555424681-b0ecf4fe19a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box {
  width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: #19191981;
  text-align: center;
  border-radius: 10px;
}

.box input[type='text'],
.box input[type='email'],
.box input[type='password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type='text']:focus,
.box input[type='email']:focus,
.box input[type='password']:focus {
  width: 250px;
  border-color: #2ecc71;
}

.box input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type='submit']:hover {
  background: #2ecc71;
}

.google-button {
  border: 0;
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #cc3556;
  padding: 6px 10px;
  outline: none;
  color: white;
  border-radius: 100%;
  transition: all 0.25s;
  cursor: pointer;
  text-align: center;
}

.google-button:hover {
  border: 2px solid #3498db;
}

.google-icon {
  color: #cc3556;
  display: block;
  margin: 5px auto;
}
