.dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  .light-mode {
    background-color: #f5f5f5;
    color: #000;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .toggle-icon {
    margin-right: 0.5rem;
  }
  